In [ ]:
import pandas as pd 
from sklearn.preprocessing import LabelEncoder

from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix

df=pd.read_csv(r"C:\Users\premp\Downloads\car_acceptability.csv")
df

,buying price,maintenance cost,number of doors,number of persons,lug_boot,safety,evaluation
0,vhigh,vhigh,2,2,small,med,unacc
1,vhigh,vhigh,2,2,small,high,unacc
2,vhigh,vhigh,2,2,med,low,unacc
3,vhigh,vhigh,2,2,med,med,unacc
4,vhigh,vhigh,2,2,med,high,unacc
...,...,...,...,...,...,...,...
1722,low,low,5,5,med,med,good
1723,low,low,5,5,med,high,vgood
1724,low,low,5,5,big,low,unacc
1725,low,low,5,5,big,med,good
1726,low,low,5,5,big,high,vgood

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1727 entries, 0 to 1726
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   buying price       1727 non-null   object
 1   maintenance cost   1727 non-null   object
 2   number of doors    1727 non-null   int64
 3   number of persons  1727 non-null   int64
 4   lug_boot           1727 non-null   object
 5   safety             1727 non-null   object
 6   evaluation         1727 non-null   object
dtypes: int64(2), object(5)
memory usage: 94.6+ KB

In [ ]:
df.isna().sum()

buying price         0
maintenance cost     0
number of doors      0
number of persons    0
lug_boot             0
safety               0
evaluation           0
dtype: int64

In [ ]:
df.duplicated().sum()

np.int64(0)

In [5]:
df['evaluation'].value_counts()

evaluation
unacc    1209
acc       384
good       69
vgood      65
Name: count, dtype: int64

In [7]:
l = LabelEncoder()
df['buying price'] = l.fit_transform(df['buying price'])
df['maintenance cost'] = l.fit_transform(df['maintenance cost'])
df['lug_boot'] = l.fit_transform(df['lug_boot'])
df['safety'] = l.fit_transform(df['safety'])
df

,buying price,maintenance cost,number of doors,number of persons,lug_boot,safety,evaluation
0,3,3,2,2,2,2,unacc
1,3,3,2,2,2,0,unacc
2,3,3,2,2,1,1,unacc
3,3,3,2,2,1,2,unacc
4,3,3,2,2,1,0,unacc
...,...,...,...,...,...,...,...
1722,1,1,5,5,1,2,good
1723,1,1,5,5,1,0,vgood
1724,1,1,5,5,0,1,unacc
1725,1,1,5,5,0,2,good
1726,1,1,5,5,0,0,vgood